body {
}


.alturaCincoPixel 
{
    height: 5px;
}

.alturaDezPixel 
{
    height: 10px;
}


.alturaQuinzePixel 
{
    height: 15px;
}


.alturaVintePixel 
{
    height: 20px;
}



.alturaVinteECincoPixel 
{
    height: 25px;
}


.alturaTrintaPixel 
{
    height: 30px;
}


.alturaTrintaECincoPixel 
{
   height: 35px;
}



.alturaQuarentaPixel 
{
    height: 40px;
}

 


.alturaQuarentaECincoPixel
{
    height: 45px;
}




.alturaCinquentaPixel
{
    height: 50px;
}


