
.bordaCinco {
    border: 2px solid;
    border-radius: 5px;
}



.bordaDez {
    border: 2px solid;
    border-radius: 10px;
}


.bordaQuinze {
    border: 2px solid;
    border-radius: 15px;
}


.bordaVinte {
    border: 2px solid;
    border-radius: 20px;
}