.espacoBotoes td
                {
                  padding-left: 10px;     
                  padding-right: 10px;    
                }


                .espacoRadionButton {

                  margin-right: 40px; 

                 }


                .espacoDez
                {
                  padding-left: 10px;     
                  padding-right: 10px;    
                }
            
            .espacoDoze
                {
                  padding-left: 12px;     
                  padding-right: 12px;    
                }


            .espacoVinteSeis
                {
                  padding-left: 26px;     
                  padding-right: 26px;    
                }