body {
}
.caixa-amarelo
{
	background-color:yellow;
}

.caixa-azul
{

    background-color:blue;

}

.caixa-verde
{

    background-color:greenyellow;

}

.caixa-vermelha
{
    background-color:red;
}